<div class="container-fluid m-0 p-0">
    <section>
        <div class="row">
            <div class="opa">
                <div class="col-md 12 d-flex justify-content-center">
                    <img class="imagem" src="../../../assets/images/unknown.png" alt="Imagem de Sustentabilidade"
                        width="100%">
                </div>
            </div>
        </div>
    </section>

    <!--Filtro Categorias-->
    <div class="container p-0 m-0">
        <input class="unic" type="checkbox" id="chec">
        <label for="chec">
            <i class="bi bi-filter-square-fill fs-13 ff fc-verde cursor ml-2"><strong> Filtrar</strong></i>
        </label>
        <nav>
            <ul>
                <li><input class="caixa mt-4" type="checkbox" id="tes">
                    <label class="categoria fc-verde mt-1" for="tes">Camiseta</label></li>
                <li><input class="caixa mt-4" type="checkbox" id="tes">
                    <label class="categoria fc-verde mt-1" for="tes">Vestido</label></li>
                <li><input class="caixa mt-4" type="checkbox" id="tes">
                    <label class="categoria fc-verde mt-1" for="tes">Calça</label></li>
                <li><input class="caixa mt-4" type="checkbox" id="tes">
                    <label class="categoria fc-verde mt-1" for="tes">Shorts</label></li>
                <li><input class="caixa mt-4" type="checkbox" id="tes">
                    <label class="categoria fc-verde mt-1" for="tes">Jaqueta</label></li>
                <li><input class="caixa mt-4" type="checkbox" id="tes">
                    <label class="categoria fc-verde mt-1" for="tes">Calçados</label></li>
                <li><input class="caixa mt-4" type="checkbox" id="tes">
                    <label class="categoria fc-verde mt-1" for="tes">Acessórios</label></li>
            </ul>
        </nav>
    </div>
    <!--/Filtro Categorias-->


    <!--Cards-->
    <div class="container justify-content-center mr-5 mt-5">
        <div class="card-deck col-md-12">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer d-flex inline justify-content-between" style="background-color: #75A26C;">
                    <strong style="color: white;">30,00</strong> 
                    <button class="designButt">Comprar</button>
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                </div>
                <div class="card-footer d-flex inline justify-content-between" style="background-color: #75A26C;">
                    <strong style="color: white;">30,00</strong> 
                    <button class="designButt">Comprar</button>
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                </div>
                <div class="card-footer d-flex inline justify-content-between" style="background-color: #75A26C;">
                    <strong style="color: white;">30,00</strong> 
                    <button class="designButt">Comprar</button>
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                </div>
                <div class="card-footer d-flex inline justify-content-between" style="background-color: #75A26C;">
                    <strong style="color: white;">30,00</strong> 
                    <button class="designButt">Comprar</button>
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                </div>
                <div class="card-footer d-flex inline justify-content-between" style="background-color: #75A26C;">
                    <strong style="color: white;">30,00</strong> 
                    <button class="designButt">Comprar</button>
                </div>
            </div>
        </div>
        <div class="card-deck mt-5 col-md-12">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer d-flex inline justify-content-between" style="background-color: #75A26C;">
                    <strong style="color: white;">30,00</strong> 
                    <button class="designButt">Comprar</button>
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                </div>
                <div class="card-footer d-flex inline justify-content-between" style="background-color: #75A26C;">
                    <strong style="color: white;">30,00</strong> 
                    <button class="designButt">Comprar</button>
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                </div>
                <div class="card-footer d-flex inline justify-content-between" style="background-color: #75A26C;">
                    <strong style="color: white;">30,00</strong> 
                    <button class="designButt">Comprar</button>
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                </div>
                <div class="card-footer d-flex inline justify-content-between" style="background-color: #75A26C;">
                    <strong style="color: white;">30,00</strong> 
                    <button class="designButt">Comprar</button>
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                </div>
                <div class="card-footer d-flex inline justify-content-between" style="background-color: #75A26C;">
                    <strong style="color: white;">30,00</strong> 
                    <button class="designButt">Comprar</button>
                </div>
            </div>
        </div>
        <div class="card-deck mt-5 col-md-12">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer d-flex inline justify-content-between" style="background-color: #75A26C;">
                    <strong style="color: white;">30,00</strong> 
                    <button class="designButt">Comprar</button>
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                </div>
                <div class="card-footer d-flex inline justify-content-between" style="background-color: #75A26C;">
                    <strong style="color: white;">30,00</strong> 
                    <button class="designButt">Comprar</button>
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                </div>
                <div class="card-footer d-flex inline justify-content-between" style="background-color: #75A26C;">
                    <strong style="color: white;">30,00</strong> 
                    <button class="designButt">Comprar</button>
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                </div>
                <div class="card-footer d-flex inline justify-content-between" style="background-color: #75A26C;">
                    <strong style="color: white;">30,00</strong> 
                    <button class="designButt">Comprar</button>
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                </div>
                <div class="card-footer d-flex inline justify-content-between" style="background-color: #75A26C;">
                    <strong style="color: white;">30,00</strong> 
                    <button class="designButt">Comprar</button>
                </div>
            </div>
        </div>
    </div>
    <!--/Cards-->

</div>