<div class="container-fluid">
    <nav class="navbar navbar-expand-lg" style="background-color:#f9f9f9">
        <a class="navbar-brand" href="#"><img width="85px" src="../../../assets/images/Icone_GreenStyle" alt="Ícone Green Style"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link ft-12 fc" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link ft-12 fc" href="#">Brechós</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ft-12 fc" href="#">Produtos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link ft-12 fc" href="#">Sobre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link ft-12 fc" href="#">Contato</a>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="pesquisar" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
            <i class="bi bi-cart fc ft-18 ml-5 mr-5"></i>
            <div class="d-flex align-items-center">
                <i class="bi bi-person-circle ft-18 fc mr-3"></i>
                <p class="ft-8 fc d-flex m-0">Entre ou <br> Cadastre-se</p>
            </div>
          </form>
        </div>
      </nav>
    </div>