<div class="container-fluid fixed-top m-0 p-0">
  <nav class="navbar navbar-expand-lg navbar-light px-5" style="background-color:#f9f9f9">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand mr-4" routerLink="/home"><img width="85px" src="../../../assets/images/Icone_GreenStyle.png"
        alt="Ícone Green Style"></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link fs-12 fc-verde hover-item ml-2" style="color: #75A26C;"
            routerLink="/home"><strong>Home</strong> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-12 fc-verde hover-item ml-2" style="color: #75A26C;"
            routerLink="/brechos"><strong>Brechós</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-12 fc-verde hover-item ml-2" style="color: #75A26C;"
            routerLink="/produtos-geral"><strong>Produtos</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-12 fc-verde hover-item ml-2" style="color: #75A26C;"
            routerLink="/sobre-nos"><strong>Sobre</strong></a>
        </li>
        <li class="nav-item" *ngIf="adm()">
          <a class="nav-link fs-12 fc-verde hover-item ml-2" style="color: #75A26C;"
            routerLink="/admin"><strong>Admin</strong></a>
        </li>
      </ul>

      <!-- <i class="bi bi-search"></i> -->

      <div class="col-auto">
        <div class="input-group input-group-sm d-flex align-items-center">
          <input [(ngModel)]="textoPesquisa" type="text" class="form-control text" name="pesquisa" id="pesquisa" style="color: #5e8c58;"
            placeholder="Pesquisar produtos">
          <label for="pesquisa" class="mb-auto mt-auto">
            <button class="btn btn-pesquisar btn-sm text" type="button" id="button-addon2" (click)="pesquisarProduto(textoPesquisa)"><i
                class="bi bi-search"></i></button>
          </label>
        </div>
      </div>

      <div class="d-flex justify-content-around">
        <i class="bi bi-cart4 fc-verde fs-20 ml-4 mr-4 pb-1 hover-carrinho" style="border: 0px; outline: 0px;"
          routerLink="/carrinho"></i>

        <div class="d-flex align-items-center mx-2" *ngIf="!logado()">
          <i class="bi bi-person-circle fs-20 fc-verde mr-2"></i>
          <div class="d-flex flex-column justify-content-center align-items-center">
            <p class="fc-verde d-flex m-0 fs-10"><a href="" class="fc-verde hover-item fs-10"
                style="text-decoration: none;" data-toggle="modal"
                data-target="#loginModal"><strong>Entre</strong></a>&nbsp;ou</p>
            <p class="fc-verde d-flex m-0"><a routerLink="/cadastrar" class="fc-verde hover-item fs-10"
                style="text-decoration: none;">&nbsp;<strong>Cadastre-se</strong></a></p>
          </div>
        </div>

        <div class="d-flex align-items-center mx-2" *ngIf="logado()">
          <i class="bi bi-person-circle fs-20 fc-verde mr-2"></i>
          <div class="d-flex flex-column justify-content-center align-items-center">
            <p class="fc-verde d-flex m-0 fs-10 text-center">Olá,</p>
            <p class="fc-verde d-flex m-0 fs-10 text-center"><strong>{{nome}}</strong></p>
          </div>
          <i class="bi bi-box-arrow-right fc-verde ml-4 pl-1 fs-16 hover-sair" style="cursor: pointer;" (click)="sair()"></i>
        </div>

      </div>

    </div>
  </nav>
</div>

<div style="margin-bottom: 62px;"></div>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h5 class="modal-title" id="exampleModalLabel">CONTA GREEN STYLE</h5>
          <p class="lead text-muted">O melhor da moda sustentavel é aqui</p>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">

        <div class="col-md-12 d-flex flex-column justify-content-center align-items-center">
          <form class="col-md-11">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">E-mail:</label>
              <input [(ngModel)]='usuarioLogin.email' type="text" class="form-control" id="recipient-name" name="loginEmail">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Senha:</label>
              <input [(ngModel)]='usuarioLogin.senha' type="password" class="form-control" id="recipient-name" name="loginSenha">
            </div>
          </form>
        </div>


        <div class="col-md-12 d-flex justify-content-center align-items-center ">

        <button data-dismiss="modal" class="btn btn-green col-md-10 mt-4 mb-3" (click)='entrar()'>ENTRAR</button>

        </div>

        <hr class="mb-4">

        <p class="text-center">Não tem uma conta? <a routerLink='/cadastrar' data-dismiss="modal"
            class="login fc-verde">Cadastre-se</a></p>
      </div>

      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Enviar</button>
      </div> -->
    </div>
  </div>
</div>
