.hover-item:hover{
    transition: 0.15s;
    transform: scale(1.05);
    opacity: 0.80;
    color: #75A26C;
}

.hover-item:not(:hover){
    transition: 0.15s;
    transform: scale(1);
    opacity: 1;
    color: #75A26C;
}

.event-sombra{
    transition: all 0.5s;
   }
   
.event-sombra:hover{
       -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
       filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
   }

.input-pesquisar{
    border-radius: 15px;
    width: 100%;
    height: 35%;
    border: 1.6px solid #75A26C;
    outline: 0;
    font-size: 10pt;
    color: #5e8c58;
    caret-color: #5e8c58;
}

.btn-pesquisar{
    background-color: #f9f9f9;
    color: #5e8c58;
    border-color: #5e8c58 ;
}

.btn-pesquisar:hover{
    background-color: #5e8c58;
    color: #f9f9f9;
    border-color: #5e8c58 ;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #5e8c58;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #5e8c58;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #5e8c58;
  }

.text:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 1;
    outline: 0;
    border-color: #5e8c58;
}