<div class="container-fluid">

  <!-- Inicio Titulo-->
  <div class="row">
    <div class="col-md-12 mb-1 pl-0 pr-0">
      <img src="../../../assets/images/banner-brechos.png" alt="" class="w-100">
      <!-- <h1 class="text-center fc-verde" >OS MELHORES BRECHOS</h1>
            <p class="text-center fc-verde">Escolha a Loja ou Brecho que deseja e veja os seus produtos</p> -->
    </div>
  </div>

</div>
<!-- Fim Titulo -->

<!-- Inicio Lista de Brechos -->

<div class="container col-md-10 my-4">
  <div class="row my-3 d-flex justify-content-center">

    <div class="col-md-12">

      <div class="row d-flex justify-content-around flex-wrap">

        <h2 *ngIf="listaBrecho == null || listaBrecho.length == 0" class="my-3 text-center">Não há nenhum brechó no banco de dados!</h2>

        <div *ngFor="let brecho of listaBrecho" (click)="irParaBrecho(brecho.id)"
          class="d-flex justify-content-start b-verde div-brecho bg-white br-8 col-md-5 my-3 p-0">
          <img src="{{brecho.fotoPerfil}}" alt="brecho do gato" class="imagem-brecho img-fluid">

          <div class="d-flex flex-column m-2 p-1">
            <h4 class="titulo">{{brecho.nome}}</h4>
            <p class="text-break">{{brecho.descricao}}</p>
          </div>
        </div>

        <!--
        <div class="d-flex justify-content-start b-verde div-brecho bg-white br-8 col-md-5 my-3 p-0">
          <img src="../../../assets/images/fotosbrechos/brecho-gato.png" alt="brecho do gato"
            class="imagem-brecho img-fluid">

          <div class="d-flex flex-column m-2 p-1">
            <h4 class="titulo">Brechó do Gato Dalmata</h4>
            <p class="text-break">Vendemos roupas inspiradas em gatos!!!! Compre aqui, adoramos gatos!!!!!!!!!!!!!!!!
              !!!!!!!!!!!!!!!!</p>
          </div>
        </div>

        <div class="d-flex justify-content-start b-verde div-brecho bg-white br-8 col-md-5 my-3 p-0">
          <img src="../../../assets/images/fotosbrechos/brecho-cordilheiras.jpg" alt="brecho eco style"
            class="imagem-brecho img-fluid">

          <div class="d-flex flex-column m-2 p-1">
            <h4 class="titulo">Brechó do Canva</h4>
            <p class="text-break">Sim, nossa logo é um template pronto do canva, só mudamos o texto, compre aqui!!!!!!!!
            </p>
          </div>
        </div>

        <div class="d-flex justify-content-start b-verde div-brecho bg-white br-8 col-md-5 my-3 p-0">
          <img src="../../../assets/images/fotosbrechos/brecho-tres-graças.png" alt="brecho eco style"
            class="imagem-brecho img-fluid">

          <div class="d-flex flex-column m-2 p-1">
            <h4 class="titulo">brechó folhinha</h4>
            <p class="text-break">Brechó original e humilde, não copiamos do canva, compre aqui!!!!!!!!!!!!!!!!!!!!</p>
          </div>
        </div>

        <div class="d-flex justify-content-start b-verde div-brecho bg-white br-8 col-md-5 my-3 p-0">
          <img src="../../../assets/images/fotosbrechos/brecho-da-cris.jpg" alt="brecho eco style"
            class="imagem-brecho img-fluid">

          <div class="d-flex flex-column m-2 p-1">
            <h4 class="titulo">brechó da cris</h4>
            <p class="text-break">brechó rosa nem combinou com o site nao compre aqui</p>
          </div>
        </div>

        <div class="d-flex justify-content-start b-verde div-brecho bg-white br-8 col-md-5 my-3 p-0">
          <img src="../../../assets/images/fotosbrechos/brecho-gato.png" alt="brecho do gato"
            class="imagem-brecho img-fluid">

          <div class="d-flex flex-column m-2 p-1">
            <h4 class="titulo">Brechó do Gato Dalmata</h4>
            <p class="text-break">Vendemos roupas inspiradas em gatos!!!! Compre aqui, adoramos gatos!!!!!!!!!!!!!!!!
              !!!!!!!!!!!!!!!!</p>
          </div>
        </div>

        <div class="d-flex justify-content-start b-verde div-brecho bg-white br-8 col-md-5 my-3 p-0">
          <img src="../../../assets/images/fotosbrechos/brecho-gato.png" alt="brecho do gato"
            class="imagem-brecho img-fluid">

          <div class="d-flex flex-column m-2 p-1">
            <h4 class="titulo">Brechó do Gato Dalmata</h4>
            <p class="text-break">Vendemos roupas inspiradas em gatos!!!! Compre aqui, adoramos gatos!!!!!!!!!!!!!!!!
              !!!!!!!!!!!!!!!!</p>
          </div>
        </div>
        -->


      </div>
    </div>
  </div>

</div>
<!-- Fim Lista de Brechos -->


<!-- Inicio jumbotron Parceria -->
<div class="container-fluid p-0 mt-2">

  <div class="row bg-greenstyle my-3 mx-0">
    <div class="col-md-12">
      <div class="jumbotron-fluid text-white mt-3 mx-0">
        <h2 class="text-center">Conheça nossos parceiros e suas roupas</h2>
        <p class="lead text-center">Roupas de qualidade e sustentaveis</p>
        <hr class="my-3">
        <p class="text-center">Quer ser um parceiro?
          <a class="btn btn-outline-light btn-sm ml-2 bg-greenstyle text-center" data-toggle="modal"
            data-target="#solicitacao-modal" href="#" role="button">Envie-nos sua solicitação!</a>
        </p>
      </div>
    </div>
  </div>

</div>
<!-- Fim jumbotron parceria -->

<!-- inicio Solicitação-Analise-Arpovação -->
<div class="container">

  <div class="row text-center fc-verde">

    <div class="col-md-12 d-flex justify-content-center flex-wrap my-4 px-0">

      <div class="card b-verde quadrado m-3" style="width: 18rem;">
        <div class="d-flex justify-content-center pt-3">
          <img class="circle" src="../../../assets/images/icone-solicitacao.png" alt="Imagem da solicitaçao">
        </div>

        <div class="card-body">
          <h5 class="card-title">Solicitação</h5>
          <p class="card-text">Todos os candidatos a parceiros Green Style precisam enviar uma solicitação para a nossa
            equipe, que analisará os dados meticulosamente.</p>
        </div>
      </div>


      <div class="card b-verde quadrado m-3" style="width: 18rem;">

        <div class="d-flex justify-content-center pt-3">
          <img class="circle" style="text-align: center;" src="../../../assets/images/analise.jpg"
            alt="Imagem da analise">
        </div>

        <div class="card-body">
          <h5 class="card-title">Análise</h5>
          <p class="card-text">Os brechós que enviarem a solicitação serão analisados a fundo, procurando a confirmação
            de um negócio sustentável e com peças de qualidade.</p>
        </div>
      </div>


      <div class="card b-verde quadrado m-3" style="width: 18rem;">
        <div class="d-flex justify-content-center pt-3">
          <img class="circle" style="text-align: center;" src="../../../assets/images/aprovado.jpg"
            alt="Imagem da Arpovação">
        </div>
        <div class="card-body">
          <h5 class="card-title">Aprovação</h5>
          <p class="card-text">Caso os valores do brechó sejam condizentes com os valores da Green Style, ele será
            aprovado e poderá comercializar seus produtos na nossa plataforma!</p>
        </div>
      </div>


    </div>

    <!--
            <div class="col-md-4 d-flex justify-content-center my-4 px-0">
                <div class="card b-verde quadrado" style="width: 18rem;">
                    <div class="d-flex justify-content-center pt-3">
                        <img class="circle" src="../../../assets/images/icone-solicitacao.png" alt="Imagem da solicitaçao">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Solicitação</h5>
                        <p class="card-text">O Algodão organico é uma alternativa para o algodão convencional, que mesmo
                            sendo uma fibra natural é produzido de modo prejudicial ao meio ambiente</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex justify-content-center my-4 px-0">
                <div class="card b-verde quadrado" style="width: 18rem;">

                    <div class="d-flex justify-content-center pt-3">
                        <img class="circle" style="text-align: center;" src="../../../assets/images/analise.jpg"
                            alt="Imagem da analise">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Análise</h5>
                        <p class="card-text">O Algodão organico é uma alternativa para o algodão convencional, que mesmo
                            sendo uma fibra natural é produzido de modo prejudicial ao meio ambiente</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex justify-content-center my-4 px-0">
                <div class="card b-verde quadrado" style="width: 18rem;">
                    <div class="d-flex justify-content-center pt-3">
                        <img class="circle" style="text-align: center;" src="../../../assets/images/aprovado.jpg"
                            alt="Imagem da Arpovação">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Solicitação</h5>
                        <p class="card-text">O Algodão organico é uma alternativa para o algodão convencional, que mesmo
                            sendo uma fibra natural é produzido de modo prejudial ao mei ambiente</p>
                    </div>
                </div>
            </div>
             -->

  </div>
</div>
<!-- inicio Solicitação-Analise-Arpovação -->

<!-- MODAL -->
<div class="modal fade bd-example-modal-lg" id="solicitacao-modal" tabindex="-1" role="dialog"
  aria-labelledby="solicitacao-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-light">
      <div class="modal-header fc-verde">
        <h2 class="modal-title text-center" id="solicitacao-modal-label">Solicitação para ser um brechó Green Style</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group fc-verde mx-4">
          <label for="fantasia-parceiro">Nome Fantasia</label>
          <input class="form-control" type="text" name="fantasia-parceiro" id="fantasia-parceiro">
          <label for="endereco-parceiro">Endereço</label>
          <input class="form-control" type="text" name="endereco-parceiro" id="endereco-parceiro">

          <div class="row d-flex justify-content-center">
            <div class="col">
              <label for="">CNPJ</label>
              <input type="text" class="form-control">
            </div>
            <div class="col">
              <label for="telefone-parceiro">Telefone</label>
              <input type="text" class="form-control" id="telefone-parceiro">
            </div>
          </div>

          <label for="email-parceiro">Email</label>
          <input class="form-control " type="email" name="email-parceiro" id="email-parceiro">

          <label for="razao-social-parceiro">Razão social</label>
          <textarea cols="2" class="form-control text" type="text" name="razao-socail-parceiro"
            id="razao-social-parceiro"></textarea>

        </div>

        <div class="modal-footer mt-4 pb-0 d-flex justify-content-center">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-green ml-5">Enviar</button>
        </div>







      </div>



    </div>




  </div>
