.tam-loja {
    width: 100%;
    height: 150px;
}
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

.raise:hover,
.raise:focus {
  opacity: 0.8;  
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
  transform: translateY(-0.25em);
}





