<div class="container-fluid">

    <!-- Inicio Titulo-->
    <div class="row">
        <div class="col-md-12 mb-1 pl-0 pr-0" >          
            <img src="../../../assets/images/banner-brechos.png" alt="" class="w-100">
            <!-- <h1 class="text-center fc-verde" >OS MELHORES BRECHOS</h1>
            <p class="text-center fc-verde">Escolha a Loja ou Brecho que deseja e veja os seus produtos</p> -->
            </div>         
    </div>

</div>
    <!-- Fim Titulo -->

    <!-- Inicio Lista de Brechos -->

    <div class="container">
        <div class="row mt-2 text-secondary d-flex justify-content-center">
            <div class="col-md-6">
                <!-- Coluna da Esquerda-->
                <div class="row myImg raise ">
                    <div class="col-md-12 tam-loja">
                        <div class="row ">
                            <div class="col-md-4 tam-loja pr-0 pl-0">
                                <a href="#">
                                    <img class="lista-brechos " src="../../../assets/images/logo-eco-style.png" alt="">
                                </a>
                            </div>
                            <div class=" col-md-8 border ml-0 border-light pl-4 myImg">
                                <div class="row">
                                    <h2>Brecho da Mary</h2>
                                </div>

                                <div class="row">
                                    <p>
                                        Vendemos roupas em geral, camisetas,calças,vestidos,roupas para crianças e
                                        adultos. Venha
                                        conhecer nossos produtos.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="col-md-6">
                <!-- Coluna da Direita-->
                <div class="row myImg raise ">
                    <div class="col-md-12 ml-2">
                        <div class="row ">
                            <div class="col-md-4 tam-loja pr-0 pl-0">

                                <img class="lista-brechos " src="../../../assets/images/green6.png" alt="">
                            </div>
                            <div class="col-md-8 border border-light pl-4 ">
                                <div class="row">
                                    <h2>EcoStyle</h2>
                                </div>

                                <div class="row">
                                    <p>
                                        Vendemos roupas em geral, camisetas,calças,vestidos,roupas para crianças e
                                        adultos. Venha
                                        conhecer nossos produtos.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--LINHA 2 APAGAR DEPOIS -->

        <div class="row mt-2 text-secondary">

            <!-- Coluna da Esquerda-->
            <div class="col-md-6">
                <div class="row myImg raise">
                    <div class="col-md-12 tam-loja">
                        <div class="row ">
                            <div class="col-md-4 tam-loja pr-0 pl-0">
                                <img class="lista-brechos" src="../../../assets/images/logo-eco-style.png" alt="">
                            </div>
                            <div class="col-md-8 border ml-0 border-light pl-4">
                                <div class="row">
                                    <h2>Brecho da Mary</h2>
                                </div>

                                <div class="row">
                                    <p>
                                        Vendemos roupas em geral, camisetas,calças,vestidos,roupas para crianças e
                                        adultos. Venha
                                        conhecer nossos produtos.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Coluna da Direita-->
            <div class="col-md-6">
                <div class="row myImg raise ">
                    <div class="col-md-12 ml-2">
                        <div class="row ">
                            <div class="col-md-4 tam-loja pr-0 pl-0">

                                <img class="lista-brechos" src="../../../assets/images/green6.png" alt="">
                            </div>
                            <div class="col-md-8 border ml-0 border-light pl-4">
                                <div class="row">
                                    <h2>EcoStyle</h2>
                                </div>

                                <div class="row">
                                    <p>
                                        Vendemos roupas em geral, camisetas,calças,vestidos,roupas para crianças e
                                        adultos. Venha
                                        conhecer nossos produtos.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--LINHA 3 APAGAR DEPOIS -->

        <div class="row mt-2 text-secondary">
            <div class="col-md-6">
                <!-- Coluna da Esquerda-->
                <div class="row myImg raise ">
                    <div class="col-md-12 tam-loja">
                        <div class="row ">
                            <div class="col-md-4 tam-loja pr-0 pl-0">

                                <img class="lista-brechos" src="../../../assets/images/logo-eco-style.png" alt="">
                            </div>
                            <div class="col-md-8 border ml-0 border-light pl-4">
                                <div class="row">
                                    <h2>Brecho da Mary</h2>
                                </div>

                                <div class="row">
                                    <p>
                                        Vendemos roupas em geral, camisetas,calças,vestidos,roupas para crianças e
                                        adultos. Venha
                                        conhecer nossos produtos.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-6">
                <!-- Coluna da Direita-->
                <div class="row myImg raise ">
                    <div class="col-md-12 ml-2">
                        <div class="row ">
                            <div class="col-md-4 tam-loja pr-0 pl-0">

                                <img class="lista-brechos" src="../../../assets/images/green6.png" alt="">
                            </div>
                            <div class="col-md-8 border ml-0 border-light pl-4">
                                <div class="row">
                                    <h2>EcoStyle</h2>
                                </div>

                                <div class="row">
                                    <p>
                                        Vendemos roupas em geral, camisetas,calças,vestidos,roupas para crianças e
                                        adultos. Venha
                                        conhecer nossos produtos.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <!-- Fim Lista de Brechos -->


    <!-- Inicio jumbotron Parceria -->
    <div class="container-fluid p-0 mt-2">

        <div class="row bg-greenstyle my-3 mx-0">
            <div class="col-md-12">
                <div class="jumbotron-fluid text-white mt-3 mx-0">
                    <h2 class="text-center">Conheça nossos parceiros e suas roupas</h2>
                    <p class="lead text-center">Roupas de qualidade e sustentaveis</p>
                    <hr class="my-3">
                    <p class="text-center">Quer ser um parceiro?
                        <a class="btn btn-outline-light btn-sm ml-2 bg-greenstyle text-center" data-toggle="modal"
                            data-target=".bd-example-modal-lg" href="#" role="button">Envie-nos sua solicitação!</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
    <!-- Fim jumbotron parceria -->

    <!-- inicio Solicitação-Analise-Arpovação -->
    <div class="container">

        <div class="row text-center fc-verde">

            <div class="col-md-4 d-flex justify-content-center my-4 px-0">
                <div class="card b-verde quadrado" style="width: 18rem;">
                    <div class="d-flex justify-content-center pt-3">
                        <img class="circle" src="../../../assets/images/icone-solicitacao.png" alt="Imagem da solicitaçao">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Solicitação</h5>
                        <p class="card-text">O Algodão organico é uma alternativa para o algodão convencional, que mesmo
                            sendo uma fibra natural é produzido de modo prejudicial ao meio ambiente</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex justify-content-center my-4 px-0">
                <div class="card b-verde quadrado" style="width: 18rem;">

                    <div class="d-flex justify-content-center pt-3">
                        <img class="circle" style="text-align: center;" src="../../../assets/images/analise.jpg"
                            alt="Imagem da analise">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Análise</h5>
                        <p class="card-text">O Algodão organico é uma alternativa para o algodão convencional, que mesmo
                            sendo uma fibra natural é produzido de modo prejudicial ao meio ambiente</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex justify-content-center my-4 px-0">
                <div class="card b-verde quadrado" style="width: 18rem;">
                    <div class="d-flex justify-content-center pt-3">
                        <img class="circle" style="text-align: center;" src="../../../assets/images/aprovado.jpg"
                            alt="Imagem da Arpovação">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Solicitação</h5>
                        <p class="card-text">O Algodão organico é uma alternativa para o algodão convencional, que mesmo
                            sendo uma fibra natural é produzido de modo prejudial ao mei ambiente</p>
                    </div>
                </div>
            </div>

        </div>
</div>
    <!-- inicio Solicitação-Analise-Arpovação -->

    <!-- MODAL -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content bg-light">

                <div class="container-fluid">

                    <div class="row d-flex justify-content-center ">

                        <div class="col-md-12 ml-3 fc-verde">

                            <div class="row d-flex justify-content-center">

                                <div class="col-md-10 border border-green rounded mt-3 mb-3">
                                    <h2 class=" mt-3 text-center">Solicitação para ser nosso Parceiro</h2>
                                    <hr>

                                    <div class="form-group">
                                        <label for="">Razão social</label>
                                        <input class="form-control" type="text" name="razao-socail-parceiro"
                                            id="razao-social-parceiro">

                                        <label for="">Nome Fantasia</label>
                                        <input class="form-control" type="text" name="fantasia-parceiro"
                                            id="fantasia-parceiro">

                                        <label for="">Endereço</label>
                                        <input class="form-control" type="text" name="endereco-parceiro"
                                            id="endereco-parceiro">

                                        <div class="row d-flex justify-content-center">
                                            <div class="col">
                                                <label for="">CNPJ</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="col">
                                                <label for="">Telefone</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                        <label for="">Email</label>
                                        <input class="form-control " type="email" name="email-parceiro"
                                            id="email-parceiro">

                                        <div class="modal-footer mt-5 d-flex justify-content-center">
                                            <button type="button" class="btn btn-dark"
                                                data-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn btn-success ml-5">Enviar</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>




    </div>