.fs-24 {
  font-size: 24pt;
}

.fs-22 {
  font-size: 22pt;
}

.fs-20 {
  font-size: 20pt;
}

.fs-18 {
  font-size: 18pt;
}

.fs-12 {
  font-size: 12pt;
}

.fs-10 {
  font-size: 10pt;
}

.fs-8 {
  font-size: 8pt;
}

.fc-verde {
  color: #75A26C;
}


/* width */
::-webkit-scrollbar {
  width: 8.5px;
  height: 8.5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5e8c58;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #577952;
}

.bg-greenstyle{
    background-color: #75A26C;
}


