.fs-20{
    font-size: 20pt;
}

.fs-18{
    font-size: 18pt;
}

.fs-12{
    font-size: 12pt;
}

.fs-10{
    font-size: 10pt;
}

.fs-8{
    font-size: 8pt;
}

.fc-verde{
    color: #75A26C;
}





/* <Scrollbar> */

        /* Width */
        ::-webkit-scrollbar {
            width: 13px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            opacity: 0.1;
            background: #F7F7F7;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            opacity: 0;
            background: #c7c7c7de;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #a7a7a7de;
        }

        /* </Scrollbar> */
