<footer class="bg-footer">
    <hr class="bg-hr">
    <div class="container-fluid">
        <div class="row d-flex justify-content-around py-5">
            
            <div class="col-md-4 d-flex justify-content-center pt-3 mt-2">
                <img src="../../../assets/images/Icone_GreenStyle" alt="Ícone Green Style" width="80%">
            </div>
            
            <div class="col-md-4 d-flex flex-column justify-content-center align-items-center pt-3 mt-2">
                
                <div class="row mb-3">
                    <div class="col-md-12">
                        <h4 class="fc-verde" style="font-family: garamont;">Fale Conosco</h4>
                    </div>
                </div>

                <div class="row d-flex flex-column fc-verde">
                    <!---->
                    <div class="row d-flex justify-content-start align-items-center mb-2">
                        <i class="bi bi-facebook fc-verde pl-3 ml-5 mr-3"></i>
                        <span>/greenstyle</span>
                    </div>

                    <div class="row d-flex justify-content-start align-items-center mb-2">
                        <i class="bi bi-instagram fc-verde pl-3 ml-5 mr-3"></i>
                        <span>@greenstyle</span>
                    </div>

                    <div class="row d-flex justify-content-start align-items-center mb-2">
                        <i class="bi bi-envelope-open fc-verde pl-3 ml-5 mr-3"></i>
                        <span>contato@greenstyle.com.br</span>
                    </div>

                </div>

            </div>
        
            <div class="col-md-4 pt-3 mt-2">
                <div class="row d-flex justify-content-center">
                    <h4 class="fc-verde" style="font-family: garamont;">Formas de pagamento</h4>
                </div>

                <div class="row d-flex justify-content-center mt-3">
                    <img src="../../../assets/images/icones-cartao.png" alt="Ícones métodos de pagamento" width="200px">
                </div>
            </div>
        
        </div>
        
        <div class="row d-flex justify-content-center pt-3 pb-3">
            <small class="fc-verde">Todos os direitos reservados blablabla Green Style, SP</small>
        </div>

    </div>
</footer>