<footer class="bg-footer">
  <div class="container-fluid">
    <div class="row d-flex justify-content-around py-1">

      <div class="col-md-4 d-flex justify-content-center pt-3 mt-2 mb-5">
        <img src="../../../assets/images/Icone_GreenStyle.png" alt="Ícone Green Style" class="img-fluid" width="75%">
      </div>

      <div class="col-md-4 d-flex flex-column justify-content-center align-items-center pt-3 mt-2 mb-5">

        <div class="row mb-4">
          <div class="col-md-12">
            <h5 class="fc-verde">Fale Conosco</h5>
          </div>
        </div>

        <div class="row d-flex flex-column fc-verde">

          <div class="row d-flex justify-content-start align-items-center mb-2">
            <div class="ml-5 pl-4">
              <a href="https://www.facebook.com" target="_blank" class="hover-item fc-verde fs-11"
                style="text-decoration: none;">
                <i class="bi bi-facebook fc-verde mr-2"></i>
                <span>/greenstyle</span>
              </a>
            </div>
          </div>

          <div class="row d-flex justify-content-start align-items-center mb-2">
            <div class="ml-5 pl-4">
              <a href="https://www.instagram.com" target="_blank" class="hover-item fc-verde fs-11"
                style="text-decoration: none;">
                <i class="bi bi-instagram fc-verde mr-2"></i>
                <span>@greenstyle</span>
              </a>
            </div>
          </div>

          <div class="row d-flex justify-content-start align-items-center mb-2">
            <div class="ml-5 pl-4">
              <a href="#" class="hover-item fc-verde fs-11" style="text-decoration: none;">
                <i class="bi bi-envelope-open fc-verde mr-2"></i>
                <span>generation.greenstyle@gmail.com.br</span>
              </a>
            </div>
          </div>

        </div>

      </div>

      <div class="col-md-4 pt-3 mt-2 mb-5">
        <div class="row d-flex justify-content-center">
          <h5 class="fc-verde">Formas de pagamento</h5>
        </div>

        <div class="row d-flex justify-content-center mt-4 pt-1">
          <img src="../../../assets/images/icones-cartao/icones-cartao.png" alt="Ícones métodos de pagamento" width="200px">
        </div>
      </div>

    </div>

    <div class="row d-flex justify-content-center pb-3">
      <small class="fc-verde">Todos os direitos reservados — 2021 &copy; Green Style, SP</small>
    </div>

  </div>
</footer>
