<hr class="m-0">
<div class="container-fluid bg-verde">
  <div class="row d-flex justify-content-center">

    <div class="col-md-10 my-4 d-flex justify-content-center mr-0 pr-0">

      <div class="row">
        <div class="col-md-10 d-flex justify-content-center align-items-center">
          <h3></h3>
          <h3 class="text-center text-light px-3">MODA NÃO É SOBRE EXCESSO, É SOBRE O ESSENCIAL</h3>
        </div>

        <div class="col-md-2 d-flex justify-content-center align-items-center">
          <img src="../../../assets/images/sobre-nos/planeta-terra.png" alt="Ícone mão no mundo" class="img-fluid py-2"
            width="50%" style="max-width: 126px; min-width: 63px;">
        </div>
      </div>

    </div>

  </div>

</div>
<hr class="m-0">

<div class="container my-4 py-4">

  <div class="row d-flex justify-content-center">
    <div class="col-md-5 pb-4 mx-2">
      <h4 class="fc-verde">GREEN STYLE</h4>
      <h6 class="fs-10">E-COMMERCE SUSTENTÁVEL</h6>
      <p class="lead text-start mt-3" style="font-size:17px;">Um projeto eco-friendly, inclusivo, transparente, diverso e preocupado com o meio
        ambiente. É uma iniciativa de uma plataforma online que faz a intermediação entre brechós e clientes, visando o
        consumo responsável, a preservação e o desapego.</p>
    </div>

    <div class="col-md-5 mx-2">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.youtube.com/embed/tDHYM8Rsrb0" title="Vídeo no YouTube" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen class="br-10"></iframe>
      </div>
    </div>
  </div>

</div>

<div class="container">
  <hr>
</div>

<div class="container my-4 py-4 d-flex flex-column justify-content-center align-items-center">
  <div class="row">
    <div class="col-md-12 mx-2">
      <h4 class="fc-verde text-center">ESTAMOS DE ACORDO COM OS SEGUINTES ODS DA ONU</h4>
      <h6 class="fs-10 text-center">O GREEN STYLE E SEUS BRECHÓS SE IMPORTAM (E MUITO!) COM A PRESERVAÇÃO DO
        MEIO-AMBIENTE</h6>
    </div>
  </div>

  <div class="row mt-5 d-flex justify-content-center">
    <div class="col-md-5 d-flex justify-content-center px-0 mt-5">
      <a href="https://brasil.un.org/pt-br/sdgs/12" target="_blank" rel="noopener noreferrer"
        class="d-flex justify-content-center naoclickable">
        <img src="../../../assets/images/sobre-nos/ods12.png" alt="ODS 12" class="img-fluid w-75 clickable animado ods-borda">
      </a>

      <a href="https://brasil.un.org/pt-br/sdgs/13" target="_blank" rel="noopener noreferrer"
        class="d-flex justify-content-center naoclickable">
        <img src="../../../assets/images/sobre-nos/ods13.png" alt="ODS 13" class="img-fluid w-75 clickable animado ods-borda">
      </a>
    </div>

    <div class="col-md-5 d-flex justify-content-center px-0 mt-5">
      <a href="https://brasil.un.org/pt-br/sdgs/14" target="_blank" rel="noopener noreferrer"
        class="d-flex justify-content-center naoclickable">
        <img src="../../../assets/images/sobre-nos/ods14.png" alt="ODS 14" class="img-fluid w-75 clickable animado ods-borda">
      </a>

      <a href="https://brasil.un.org/pt-br/sdgs/15" target="_blank" rel="noopener noreferrer"
        class="d-flex justify-content-center naoclickable">
        <img src="../../../assets/images/sobre-nos/ods15.png" alt="ODS 15" class="img-fluid w-75 clickable animado ods-borda">
      </a>
    </div>
  </div>

</div>

<div class="container">
  <hr>
</div>

<div class="container my-4 py-4">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10">
      <h4 class="fc-verde text-center">DESENVOLVEDORES DO PROJETO</h4>
      <h6 class="fs-10 text-center">QUE O FIZERAM COM MUITO AMOR E CARINHO</h6>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-md-12">

        <div class="row d-flex justify-content-center mt-5">

          <div class="card m-4 animado br-10 b-verde" style="width: 18rem;">
            <img src="../../../assets/images/sobre-nos/nos/Eudepertokkkkkkrecortado.jpeg"
              class="card-img-top img-fluid imagem-card" alt="Marco">
            <div class="card-body">
              <h6 class="card-title fs-14">Marco Aurélio Queiroz</h6>
              <p class="card-text d-inline">São Paulo - SP</p>
              <br>
              <p class="card-text d-inline">18 anos</p>

              <div class="d-flex justify-content-center mt-2">
                <a href="https://github.com/trepudox" target="_blank" class="icone-anm mr-4"><i class="bi bi-github fs-16"></i></a>
                <a href="https://www.linkedin.com/in/marcoa-queiroz/" target="_blank" class="icone-anm ml-4"><i class="bi bi-linkedin fs-16"></i></a>
              </div>

            </div>
          </div>

          <div class="card m-4 animado br-10 b-verde" style="width: 18rem;">
            <img src="../../../assets/images/sobre-nos/nos/mathaeus-caetano.jfif"
              class="card-img-top img-fluid imagem-card" alt="Marco">
            <div class="card-body">
              
              <h6 class="card-title fs-14">Matheus Caetano</h6>
              <p class="card-text d-inline">São Paulo - SP</p>
              <br>
              <p class="card-text d-inline">19 anos</p>

              <div class="d-flex justify-content-center mt-2">
                <a href="https://github.com/MatheusSCaetano" target="_blank" class="icone-anm mr-4"><i class="bi bi-github fs-16"></i></a>
                <a href="https://www.linkedin.com/in/matheus-scaetano/" target="_blank" class="icone-anm ml-4"><i class="bi bi-linkedin fs-16"></i></a>
              </div>

            </div>
          </div>

          <div class="card m-4 animado br-10 b-verde" style="width: 18rem;">
            <img src="../../../assets/images/sobre-nos/nos/Raquel.jfif"
              class="card-img-top img-fluid imagem-card" alt="Marco">
            <div class="card-body">
              <h6 class="card-title fs-14">Raquel Borges</h6>
              <p class="card-text d-inline">São Paulo - SP</p>
              <br>
              <p class="card-text d-inline">26 anos</p>

              <div class="d-flex justify-content-center mt-2">
                <a href="https://github.com/RaquelBorges" target="_blank" class="icone-anm mr-4"><i class="bi bi-github fs-16"></i></a>
                <a href="https://www.linkedin.com/in/raquel-borges-sp/" target="_blank" class="icone-anm ml-4"><i class="bi bi-linkedin fs-16"></i></a>
              </div>

            </div>
          </div>

          <div class="card m-4 animado br-10 b-verde" style="width: 18rem;">
            <img src="../../../assets/images/sobre-nos/nos/gustavo-vilela.jfif"
              class="card-img-top img-fluid imagem-card" alt="Marco">
            <div class="card-body">
              <h6 class="card-title fs-14">Gustavo Vilela Duarte</h6>
              <p class="card-text d-inline">São Paulo - SP</p>
              <br>
              <p class="card-text d-inline">24 anos</p>

              <div class="d-flex justify-content-center mt-2">
                <a href="https://github.com/gutusmao12" target="_blank" class="icone-anm mr-4"><i class="bi bi-github fs-16"></i></a>
                <a href="https://www.linkedin.com/in/gustavo-vilela-duarte/" target="_blank" class="icone-anm ml-4"><i class="bi bi-linkedin fs-16"></i></a>
              </div>

            </div>
          </div>

          <div class="card m-4 animado br-10 b-verde" style="width: 18rem;">
            <img src="../../../assets/images/sobre-nos/nos/pedro-estevao.jfif"
              class="card-img-top img-fluid imagem-card" alt="Marco">
            <div class="card-body">
              <h6 class="card-title fs-14">Pedro Estevão</h6>
              <p class="card-text d-inline">Guarulhos - SP</p>
              <br>
              <p class="card-text d-inline">24 anos</p>

              <div class="d-flex justify-content-center mt-2">
                <a href="https://github.com/morenopep" target="_blank" class="icone-anm mr-4"><i class="bi bi-github fs-16"></i></a>
                <a href="https://www.linkedin.com/in/pedro-estevão-962085205/" target="_blank" class="icone-anm ml-4"><i class="bi bi-linkedin fs-16"></i></a>
              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
