<!-- Categorias -->
<!-- <div class="container-fluid d-flex flex-row mt-3">

  <div class="col-md-6">

        <div class="row">
          <div class="card bg-dark text-white teste-event ">
          <img src="../../../assets/images/camisetas.jpg" class="card-img " alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
            <p class="card-text"></p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="card bg-dark text-white">
        <img src="../../../assets/images/vetidos.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <p class="card-text"></p>
        </div>
      </div>
    </div>


  </div>


  <div class="col-md-6">

    <div class="row">
      <div class="card bg-dark text-white" style="height: 190px" >
      <img src="../../../assets/images/camisetas.jpg" class="card-img" alt="..." height="100%">
      <div class="card-img-overlay">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <p class="card-text"></p>
      </div>
    </div>
  </div>

      <div class="row bg-secondary">

      </div>


      <div class="row">
        <div class="card bg-dark text-white" style="height: 190px" >
        <img src="../../../assets/images/camisetas.jpg" class="card-img" alt="..." height="100%">
        <div class="card-img-overlay">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <p class="card-text"></p>
        </div>
      </div>
    </div>

  </div>

</div> -->
<!-- /Categorias -->

<!-- Categorias part.2 -->
<!-- <div class="container col-md-12 mt-4" style="margin-bottom: 90px;">

  <div class="row d-flex justify-content-center">
    <div class="col-md-3">
     <h2 class="text-center">ESCOLHA SUA CATEGORIA</h2>
    </div>

    <div class="col-md-9 d-flex">
    <div class="col-md-4 d-flex justify-content-center align-items-center b-verde mr-4 border-radius-2 event-transformCategoria">
      <img src="../../../assets/images/camisa.png" alt="">
      <p class="ml-3">Camisetas</p>
    </div>
    <div class="col-md-4 d-flex justify-content-center align-items-center b-verde mr-4 border-radius-2 event-transformCategoria">
      <img src="../../../assets/images/camisa.png" alt="">
      <p class="ml-3">Camisetas</p>
    </div>
  </div>

</div>

</div> -->
<!-- /Categorias part.2 -->


<!-- Carrosel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="card text-white bg-dark">
        <img class="card-img img-fluid imgMenu" src="../../../assets/images/IMG2.jpg" alt="Imagem do card" width="500px">
        <div class="card-img-overlay" style="margin-left: 10%; margin-top: 15%;">
          <h5 class="card-title text-white">GREEN STYLE</h5>
          <p class="card-text">CONHEÇA O MELHOR DA MODA<br> AQUI NA GREEN STYLE</p>
          <button class="btn btn-outline-light btn-lg mt-3 fs-verde" type="button">Veja Quem Somos</button>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="card  text-white bg-verde">
        <img class="card-img img-fluid" src="../../../assets/images/IMG3.jpg" alt="Imagem do card" width="500px">
        <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
          <h1 class="card-title display-5 fw-bold text-white text-center">GREEN STYLE</h1>
           <div class="card-text d-flex flex-column justify-content-center align-items-center">
            <p class="lead text-white text-center" style="font-size:15px;"><span>O melhor da moda</span></p>
            <p class=" fs-4 mt-2 text-white text-center">Conectamos você com os melhores brechos.<br>Selecionamos cada estabelecimento pensando no melhor para você e para o meio ambiente</p>
            <button class="btn btn-outline-light btn-lg mt-3 fs-verde" type="button">Veja os Produtos</button>

           </div>

        </div>
      </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>
<!-- /Carrosel -->

<h2 class="pb-3 text-center bg-secondary text-white mb-4 p-4" style="font-weight: 700">
  APROVEITE O ESTOQUE
</h2>

<!-- PRODUTOS EM DESTAQUE -->
<div class="container mt-5" style="margin-bottom: 80px;">





  <div id="multi-item-example" data-ride="carousel" class="carousel slide carousel-multi-item">
      <ol class="carousel-indicators">
          <li data-target="#multi-item-example"  data-slide-to="0" class="active bg-secondary"></li>
          <li data-target="#multi-item-example"  data-slide-to="1" class="bg-secondary"></li>
      </ol>

      <div class="carousel-inner pb-3">

          <div class="carousel-item active">
              <div class="col-md-3 " style="float: left;">
                  <div class="card mb-2 event-sombra b-verde">
                      <img src="https://www.ecoloja.art.br/image/cache/catalog/Camiseta%20e%20BabyLook/Camiseta-Pet-Lobo-500x500.jpg" alt="Card image cap" class="card-img-top"
                          style="width: 100%;">
                      <div class="card-body">
                          <h5 class="text-center">Camiseta básica</h5>
                          <p class="card-text text-center">
                            R$ 15,00
                          </p>

                      </div>
                  </div>
              </div>

              <div class="col-md-3 " style="float: left;">
                <div class="card principal mb-2 event-sombra b-verde">
                    <img src="https://www.heroisdaestrada.com.br/image/cache/catalog/camisetas/COSTAS%20PRETA%20LISA-01%20(1)-500x500.png" alt="Card image cap" class="card-img-top"
                        style="width: 100%;">
                    <div class="card-body">
                        <h5 class="text-center">Camiseta básica</h5>
                        <p class="card-text text-center">
                          R$ 15,00
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-md-3 " style="float: left;">
              <div class="card  mb-2 event-sombra b-verde">
                  <img src="https://decathlonpro.vteximg.com.br/arquivos/ids/172652-500-500/ts-sportee-100-reg-gym-white-m1.jpg?v=636543231500530000" alt="Card image cap" class="card-img-top"
                      style="width: 100%;">
                  <div class="card-body">
                      <h5 class="text-center">Camiseta básica</h5>
                      <p class="card-text text-center">
                        R$ 15,00
                      </p>

                  </div>
              </div>
          </div>

          <div class="col-md-3 " style="float: left;">
            <div class="card  mb-2 event-sombra b-verde">
                <img src="https://decathlonpro.vteximg.com.br/arquivos/ids/2449348-500-500/-cta-mh100-masc-verm-3xl-m1.jpg?v=637146087778400000" alt="Card image cap" class="card-img-top"
                    style="width: 100%;">
                <div class="card-body">
                    <h5 class="text-center">Camiseta básica</h5>
                    <p class="card-text text-center">
                      R$ 15,00
                    </p>

                </div>
            </div>
        </div>





          </div>

          <div class="carousel-item">
            <div class="col-md-3 " style="float: left;">
                <div class="card  mb-2 event-sombra b-verde">
                    <img src="https://anjuss.vteximg.com.br/arquivos/ids/164367-500-500/Touca-Masculina-Lenhador-Anjuss-Lumberjack-Amarelo-Unico.jpg?v=637288061184270000" alt="Card image cap" class="card-img-top"
                        style="width: 100%;">
                    <div class="card-body">
                        <h5 class="text-center">Camiseta básica</h5>
                        <p class="card-text text-center">
                          R$ 15,00
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-md-3 " style="float: left;">
              <div class="card  mb-2 event-sombra b-verde">
                  <img src="https://www.heroisdaestrada.com.br/image/cache/catalog/camisetas/COSTAS%20PRETA%20LISA-01%20(1)-500x500.png" alt="Card image cap" class="card-img-top"
                      style="width: 100%;">
                  <div class="card-body">
                      <h5 class="text-center">Camiseta básica</h5>
                      <p class="card-text text-center">
                        R$ 15,00
                      </p>

                  </div>
              </div>
          </div>

          <div class="col-md-3 " style="float: left;">
            <div class="card mb-2 event-sombra b-verde">
                <img src="https://images-americanas.b2w.io/produtos/01/00/img/1288517/7/1288517702_1GG.jpg" alt="Card image cap" class="card-img-top"
                    style="width: 100%;">
                <div class="card-body">
                    <h5 class="text-center">Camiseta básica</h5>
                    <p class="card-text text-center">
                      R$ 15,00
                    </p>

                </div>
            </div>
        </div>

        <div class="col-md-3 " style="float: left;">
          <div class="card  mb-2 event-sombra b-verde">
              <img src="https://decathlonpro.vteximg.com.br/arquivos/ids/2710123-500-500/calcas-slim-para-ginastica-e-pilates-homem-500-com-fecho-preto-trousers-500-slim-zip-gym-xl---w37-l341.jpg?v=637503709168970000" alt="Card image cap" class="card-img-top"
                  style="width: 100%;">
              <div class="card-body">
                  <h5 class="text-center">Camiseta básica</h5>
                  <p class="card-text text-center">
                    R$ 15,00
                  </p>

              </div>
          </div>
      </div>





    </div>

      </div>

      <div class=" d-flex justify-content-between pt-2 pb-2">
          <a href="#multi-item-example" data-slide="prev" class="btn bg-verde ml-5">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a href="#multi-item-example" data-slide="next" class="btn bg-verde mr-5">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
      </div>

  </div>

</div>
<!--/PRODUTOS EM DESTAQUE -->

<!-- banner -->
<div class="container-fluid">
<div class="row mt-5 text-white justify-content-end align-items-end">
  <img src="../../../assets/images/testehome.jpg" class="img-fluid imgCardfull">
  <div class="col-3 lead justify-content-center text-center position-absolute">
    <p class="d-flex justify-content-center align-items-center"><b>Explore nossos Parceiros</b><i class="bi bi-arrow-right-short"></i></p>
  </div>
</div>
</div>
<!-- /banner -->

<!-- IMPACTO GREEN -->
<div class="container mt-5">
  <div class="row ">

    <h2 class="fc-verde m-auto text-left" style="font-weight: 700">
      #IMPACTOGREENS
    </h2>

  <p class="lead text-muted text-center mt-3" style="font-size:17px;">Dados da ONU indicam que a indústria da moda é a segunda mais poluente do mundo. Se quisermos um mundo melhor, precisamos trabalhar por ele. Participar do movimento de moda circular é a forma mais eficiente de diminuir esse impacto ambiental. Faça parte do #efeitoGreenS!</p>
  </div>

  <div class="row d-flex justify-content-center">


    <div class="d-flex flex-column justify-content-center align-items-center mt-4 mr-4  border-radius-2 b-verde event-transform" style="width: 15rem;">
      <img src="../../../assets/images/sus3.png" class="img-fluid mb-3 mt-3" alt="..." width="130px">

        <p class="text-center"><b>466,2 milhões</b><br>
          de litros de água economizados</p>

    </div>

    <div class="d-flex flex-column justify-content-center align-items-center mt-4 mr-4  border-radius-2 b-verde event-transform" style="width: 15rem;">
      <img src="../../../assets/images/sus4.png" class="img-fluid mb-3 mt-3" alt="..." width="130px">

        <p class="text-center"><b>466,2 milhões</b><br>
          de litros de água economizados</p>

    </div>

    <div class="d-flex flex-column justify-content-center align-items-center mt-4 border-radius-2 b-verde event-transform" style="width: 15rem;">
      <img src="../../../assets/images/sus5.png" class="img-fluid mb-3 mt-3" alt="..." width="130px">

        <p class="text-center"><b>466,2 milhões</b><br>
          de litros de água economizados</p>

    </div>

  </div>

  <h4 class="lead fc-verde text-center mt-5 mb-5">Compre na Green Style para Salvar o Mundo</h4>
</div>
<!-- /IMPACTO GREEN -->
